# Data Science Tools and Ecosystem

## Introduction
In this notebook, Data Science Tools and Ecosystem are summarized. This notebook is based on exercises listed in the Peer-graded Assignment in the IBM Data Science Course: **Tools for Data Science**, Module 6, _Submit Your Work and Grade Your Peers_.
*Objectives:*
- List data science languages
- List data science tools
- Familiarize with markdown cells
- Use different markdown formatting styles.
- Familiarize with code cells

### Data Science Languages
Below is a list of languages commonly used within Data Science.
1. Python
2. Julia
3. R

### Data Science Libraries
Below is a list of some of the data science libraries that have been mentioned in this course.
- Numpy
- Pandas
- scikit-learn
- TensorFlow
- PyTorch

### Data Science Tools
Below is a list of different data science tools that have been discussed in this course.
- Python and many of its Python packages
- RStudio
- JupyterLab
- Google Colab
- SQL
- MongoDB
- Apache Hadoop
- Apache Spark
- MapReduce
- Git

### Arithmetic expression examples

- **Addition**: `1 + 2`
- **Subtraction**: `1 - 2`
- **Multiplication**: `5*3`
- **Division**: `4/2`

In [25]:
# Exercise 8 - Create a code cell to multiply and add numbers. (2 pts)
a = (3*4) + 5
print(a) # prints 17

17

In [26]:
# Exercise 9 - Create a code cell to convert minutes to hours. (2 pts)
minutes = 200
minutes_in_hours = minutes/60.0
print(f"{minutes_in_hours:.2f}") # format the number with 2 decimals, prints 3.33

3.33

## Author:
Robin